{{define "title"}}Create a New Snippet{{end}}


{{define "main"}}

<form action="/snippet/create" method="post">

  <!-- Include the CSRF token -->
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

  <div>
    <label for="title">Title:</label>
    {{with .Form.FieldErrors.title}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="title" id="title" value="{{.Form.Title}}">
  </div>

  <div>
    <label for="content">Content:</label>
    {{with .Form.FieldErrors.content}}
      <label class="error">{{.}}</label>
    {{end}}
    <textarea name="content" cols="30" rows="10">{{.Form.Content}}</textarea>
  </div>

  <div>
    <label >Delete in:</label>
    {{with .Form.FieldErrors.expiresAt}}
      <label class="error">{{.}}</label>
    {{end}}

      <input type="radio" name="expiresAt" value="365" id="365" {{if (eq .Form.ExpiresAt 365)}}checked{{end}}>
      <label for="365"> One Year </label>

      <input type="radio" name="expiresAt" value="7" id="7" {{if (eq .Form.ExpiresAt 7)}}checked{{end}}>
      <label for="7"> One Week </label>

      <input type="radio" name="expiresAt" value="1" id="1" {{if (eq .Form.ExpiresAt 1)}}checked{{end}}>
      <label for="1"> One Day </label>
  </div>

  <div> <input type="submit" value="Publish Snippet"> </div>

</form>

{{end}}
